SilverlightMultiFileUploader/mpost.SilverlightMultiFileUpload/Service References/UploadService/SilverlightUploadService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="StoreFileAdvanced">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="data" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="dataLength" type="xs:int" />
        <xs:element minOccurs="0" name="parameters" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="firstChunk" type="xs:boolean" />
        <xs:element minOccurs="0" name="lastChunk" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StoreFileAdvancedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StoreFileAdvancedResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelUpload">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="filename" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelUploadResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>