SL3_Archived/mpost.SilverlightMultiFileUpload/Service References/UploadService/UploadService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://tempuri.org/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="UploadService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="CustomBinding_IUploadService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:53409/mpost.SilverlightMultiFileUploadWeb/SilverlightUploadService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:53409/mpost.SilverlightMultiFileUploadWeb/SilverlightUploadService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUploadService_StoreFileAdvanced_InputMessage">
    <wsdl:part name="parameters" element="tns:StoreFileAdvanced" />
  </wsdl:message>
  <wsdl:message name="IUploadService_StoreFileAdvanced_OutputMessage">
    <wsdl:part name="parameters" element="tns:StoreFileAdvancedResponse" />
  </wsdl:message>
  <wsdl:message name="IUploadService_CancelUpload_InputMessage">
    <wsdl:part name="parameters" element="tns:CancelUpload" />
  </wsdl:message>
  <wsdl:message name="IUploadService_CancelUpload_OutputMessage">
    <wsdl:part name="parameters" element="tns:CancelUploadResponse" />
  </wsdl:message>
  <wsdl:portType name="IUploadService">
    <wsdl:operation name="StoreFileAdvanced">
      <wsdl:input wsaw:Action="http://tempuri.org/IUploadService/StoreFileAdvanced" message="tns:IUploadService_StoreFileAdvanced_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUploadService/StoreFileAdvancedResponse" message="tns:IUploadService_StoreFileAdvanced_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CancelUpload">
      <wsdl:input wsaw:Action="http://tempuri.org/IUploadService/CancelUpload" message="tns:IUploadService_CancelUpload_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUploadService/CancelUploadResponse" message="tns:IUploadService_CancelUpload_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CustomBinding_IUploadService" type="tns:IUploadService">
    <wsp:PolicyReference URI="#CustomBinding_IUploadService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="StoreFileAdvanced">
      <soap12:operation soapAction="http://tempuri.org/IUploadService/StoreFileAdvanced" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelUpload">
      <soap12:operation soapAction="http://tempuri.org/IUploadService/CancelUpload" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UploadService">
    <wsdl:port name="CustomBinding_IUploadService" binding="tns:CustomBinding_IUploadService">
      <soap12:address location="http://localhost:53409/mpost.SilverlightMultiFileUploadWeb/SilverlightUploadService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:53409/mpost.SilverlightMultiFileUploadWeb/SilverlightUploadService.svc</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>